@use '../../../scss/' as *;

[class*="col-"] {
    margin-bottom: 20px;
}

.product-card {
    background-color: $color-text-light;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
    &:hover {
        transform: translateY(-5px);
    }
    &:active {
        transform: translateY(0);
        border: 2px solid $color-text-secondary;
    }
    a {
        text-decoration: none;
        color: inherit;
    }

    /* ===== IMAGE ===== */
    .product-img {
        width: 100%;
        aspect-ratio: 1 / 1; // 👉 ảnh vuông, card đều
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        padding: 25px 30px 15px 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; // 🔥 cắt ảnh cho vừa khung
            display: block;
            transition: transform 0.6s ease;
        }
    }

    &:hover .product-img img {
        transform: scale(1.03); // zoom nhẹ
    }

    /* ===== INFO ===== */
  .product-info {
    display: flex;
    flex-direction: column;
    background-color: $color-text-light;
    border-radius: 0 0 10px 10px;

    .product-name {
        text-align: left;
        font-weight: 500;
        font-size: 17px;
        color: $color-text-secondary;
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .product-price {
        text-align: right;
        color: $color-primary;
        font-weight: 700;
        padding-right: 30px;
        font-size: 18px;
    }

    .btn-add-cart {
    border: none;
    background: transparent;
    cursor: pointer;
    padding-left:35px ;
    align-self: flex-start;
    color: $color-accent-green;
    padding-bottom: 15px;
    padding-top: 0px;
    font-size: 23px;
    &:hover,
    &:active {
        color: $color-primary;
        outline: none !important;
        box-shadow: none !important;
    }
    &:focus,
    &:focus-visible {
        outline: none !important;
        box-shadow: none !important;
    }
}

    span {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.012em;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 18px;
        }
    }
}
}
.product-card:focus,
.product-card:focus-visible,
.product-card:hover{
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.135);
}
